
.header {
  margin-bottom: 50px;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text h1 {
  font-family: "Montserrat Bold";
  /*font-weight: bold;*/
  font-size: 40px;
  margin-bottom: 20px;
}

.header button {
  background: #4239F9;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat Regular";
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.header button:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
}

.search input {
  background-color: #f6f8fa;
  border: none;
  outline: none;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: "Montserrat Regular";
  font-size: 15px;
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
}

.search input:hover, .search input:focus {
  background-color: #DDDFE1;
}

.search .results {

}

.weekNav {
  display: grid;
  grid-template-areas: 'left list list right';
}

.weekNav button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 10px;
}

.weekNav button:first-of-type {
  grid-area: left;
  justify-self: flex-start;
}

.weekNav button:last-of-type {
  grid-area: right;
  justify-self: flex-end;
}

.weekNav button:hover {
  background: #f6f8fa;
}

.weekDays {
  grid-area: list;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekDay {
  font-family: "Montserrat Regular";
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.weekDayName {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ccc;
}

.weekDay:hover {
  background-color: #f6f8fa;
  border-color: #f6f8fa;
}

.weekDay.active {
  background-color: #f6f8fa;
  border-color: #f6f8fa;
  color: #7b77c4;
}

.weekDay.active .weekDayName {
  color: #000;
}