.controlPanel {
  grid-area: control-panel;
  background: #fafafa;
  height: 100%;
  padding: 100px 50px;
  box-sizing: border-box;
  font-family: "Montserrat Regular";
}

.controlPanel > p:last-of-type {
  margin-bottom: 50px;
}

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

.profile p {
  font-family: "Montserrat Regular";
  font-size: 20px;
  margin-left: 20px;
}

.avatar {
  max-width: 100px;
}

.categories {
  padding-top: 20px;
  padding-bottom: 20px;
  /*border-top: 1px solid #ccc;*/
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.categories h2 {
  font-family: "Montserrat Regular";
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  /*margin-bottom: 50px;*/
  color: #414043;
  font-weight: bold;
}

.categories ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categories ul li {
  display: inline-block;
  font-family: "Montserrat Regular";
  font-size: 15px;
  cursor: pointer;
  color: #000;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.categories ul li:hover {
  border-bottom-color: #ccc;
}

.categories ul li:not(:last-of-type) {
  margin-bottom: 10px;
}

.categories .activeCategory {
  border-color: #ccc;
}

.currency select {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  background: transparent;
  font-family: 'Montserrat Regular';
}

.currency select option {
  padding: 10px;
  color: red;
}

@media (max-width: 1160px) {
  .controlPanel {
    z-index: 15;
    width: 60vw;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    left: -1000px;
    transition: all 0.3s ease-in-out;
  }
  .controlPanel.visible {
    box-shadow: 60vw 0 rgba(0, 0, 0, 0.7);
    left: 0px;
  }
}