.main {
  grid-area: main;
  padding: 50px;
  box-sizing: border-box;
}

.results {
  position: fixed;
  width: 30vw;
  height: 60vh;
  overflow-y: auto;
  top: calc(50% - 30vh);
  left: calc(50% - 15vw);
  background: #fff;
  z-index: 20;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
}

.results header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results header button {
  background: #4239F9;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat Regular";
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.results header h1 {
  margin-bottom: 0;
}
.entry {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  cursor: pointer;
}

.entry:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.entryData {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat Regular";
}

.entryTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.entryTime {
  color: #bbb;
  font-size: 15px;
}

.entryValue {
  font-family: "Montserrat Regular";
  font-weight: bold;
  font-size: 25px;
}
