.sidebar {
  grid-area: sidebar;
  box-sizing: border-box;
  padding: 100px 0;
  padding-right: 50px;
  background-color: #fff;
}

.sidebar header {
  margin-bottom: 50px;
}

h1 {
  font-family: "Montserrat Regular";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 1160px) {
  .sidebar {
    width: 70vw;
    z-index: 15;
    position: fixed;
    height: 100vh;
    box-sizing: border-box;
    top: 0;
    right: -1000px;
    padding: 20px;
    padding-top: 50px;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
  }
  .sidebar.visible {
    box-shadow: -70vw 0 rgba(0, 0, 0, 0.7);
    right: 0px;
  }
}
